{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes, 'grid-result') }}>
  <div{{ content_attributes.addClass('node__content', 'grid-body') }}>
    <div class="text-center grid-image">
      <div class="record-image-container">
        <div class="recordcover-holder">
          <div class="recordcover-container">
            <div class="image-popup-trigger">
              {{ content.field_images[0] }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center grid-title">
      <h2{{ title_attributes.addClass('title') }}>
        <a class="title" href="{{ content.field_vufind_url[0]['#url'].uri }}" target="_blank">{{ label }}</a>
      </h2>
    </div>
    {{ content.field_notes }}
  </div>
</article>
